/* Page Formatting */
.container{
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}


/* Top Row Navigation */
.nav-title {
  color: aquamarine;
}

.search-button {
  color: cadetblue;
  border-color: rgb(0, 140, 255);
}

/* .current-location-search-button{
  color:darkorchid;
  border-color: rgb(0, 140, 255);
} */

/* Current Day/Time Weather Details */
h1{
  font-size: 30px;
  margin-top: 30px;
}
h2 {
  font-size: 40px;
  margin-top: 58px;
  margin-bottom: 30px;
}

.weather-details {
  font-size: 20px;
}

.weather-details.1{
  margin-top:100px;
}

/* 5 Day Forecast Details */
/* Forecast Header */
h3 {
  font-size: 20px;
}

.weather-forecast {
  text-align: center;
  margin-top: 20px;
}
.forecast-icon {
  font-size: 30px;
}


.forecast-day {
  font-size: 18px;
}

.forecast-temperatures{
  font-size: 16px;
}

/* Github Link at Bottom of Page */
a{
  display: block;
  text-align: center;
  font-size: 10px;
}